// @/app/globals.scss

@use '@/styles/shared/' as *;

:root {
  font-size: 100%;
  --ff-gothic: var(--font-gothic), -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Hiragino Sans", sans-serif;
  --ff-mincho: var(--font-mincho), "Georgia", "Times New Roman", "Yu Mincho", "Hiragino Mincho ProN", serif;
  --ff-title-en: var(--font-title-en), sans-serif;
  --ff-mono: "SF Mono", "Monaco", "Inconsolata", "Fira Code", "Consolas", "Courier New", monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
// layout.jsで定義した変数が使えてしまうNext.jsの不思議
// var(--font-gothi, var(--font-minch, var(--font-title-en)
body {
  color: $color-black;
  background: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include content-width;
  padding: 32px $pad;
}

section {
  margin-top: 24px;
}

h1 {
  margin-bottom: 12px;
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

p, .spec {
  font-family: var(--ff-mincho);
  line-height: 1.7;
}

label {
  display: block;
  margin-top: 14px
}

input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
}

button,
input,
select,
textarea,
nav,
.header,
.footer {
  font-family: var(--ff-gothic);
}

.en-title,
h1.en,
h2.en {
  font-family: var(--ff-title-en);
  letter-spacing: 0.02em;
}

pre {
  font-family: var(--ff-mono);
  white-space: pre; // これが本命：改行とスペースを保持
  overflow-x: auto; // はみ出したら横スクロール
}

button {
  margin-top: 2rem;
  padding: .5em 1.5em;
}