// @/app/globals.scss

@use '@/styles/shared/' as *;

:root {
  font-size: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $color-black;
  background: $color-white;
  font-family: $font-mincho;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include content-width;
  padding: 32px $pad;
}

section {
  margin-top: 24px;
}

h1 {
  margin-bottom: 12px;
}

h2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.para {
  line-height: 1.7;
}

label {
  display: block;
  margin-top: 14px
}

input {
  width: 100%;
  padding: 10px 12px;
  margin-top: 6px;
}

// p {
//   font-family: $font-mincho;
// }