// @/app/globals.scss

@use '@/styles/shared/' as *;

:root {
  font-size: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: $color-black;
  background: $color-white;
  font-family: $font-mincho;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @include content-width;
}

// p {
//   font-family: $font-mincho;
// }