// @/components/layout/Header.module.scss

@use '@/styles/shared' as *;

.header {
  width: 100%;
  margin-top: auto;
  padding: 2rem 0;
  font-family: var(--ff-title-en);
  font-size: 3rem;
  text-align: center;
  color: $color-white;
  background-color: $color-black;
}